.App {
  text-align: center; 
  width: 80%;
  padding: 5% 10%;
}
.titulo {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 20px;

  
}
.contenido {
  height: 200px;
  border: 1px solid black;
}
.btn {
  height: 50px;
  width: 280px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  font-weight: bold;
}
.btn {
  background: Lavender;
}

@media (any-hover: hover) {
  button:hover {
    background: mediumpurple;
    color: #fff;
  }
}
